    /****** General ***********/
    * {
        font-family: 'Raleway', sans-serif;
    }

    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }

    .fa-solid {
        color: var(--main-color);
    }

    body {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .imagelogo {
        width: 5em;
        margin-top: 20px;

    }

    .menu {
        display: flex;
        gap: 60px;
        margin-left: auto;

    }


    .menuprincipal {
        display: flex;
        justify-content: space-between;
    }

    /* Elements CSS en tête */
    .element1 {
        display: inline-block;
        padding-top: 20px;
    }

    .element1:hover {
        color: #0065FC;
        border-top: 2px solid #0065fc;

    }





    .section-title {
        margin: 0;
        font-size: 22px;

    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;

    }

    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .euro {
        font-weight: 700;
    }

    .neutral-star {
        color: var(--main-bg-color)
    }

    /* Elements CSS header */
    .boutonrechercher {
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        width: 100%;
        height: 50%;
        border-radius: 0px 10px 10px 0px;
        padding: 0 20px;
        border: 0 solid #0065FC;

    }

    .logoqueries {
        display: none;


    }

    .barrerecherche {

        display: flex;
        flex-direction: row;
        margin-top: 45px;



    }

    .boutons {
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

    form {
        display: flex;
    }

    input::placeholder {
        font-weight: bold;
        color: black;
        opacity: 1;

    }

    .logorecherche {
        color: black;
        padding: 15px;
        margin-bottom: 45px;
        border-radius: 15px 0px 0px 15px;
        background-color: #F2F2F2;
    }



    .formulaire {
        height: 47%;
        border: solid 0.5px #F2F2F2;
        text-align: center;
        font-weight: bold;

    }



    #filtres {
        display: flex;
        height: 50px;
        align-items: center;
        gap: 15px;
        font-weight: bold;
    }

    .filtre {
        display: flex;
        border: 2px solid #D9D9D9;
        padding: 4px 19px;
        border-radius: 25px;
        align-items: center;
        gap: 10px;
        height: 50px;
    }

    .filtre:hover {
        background-color: #DEEBFF;
    }



    .logoinfo {
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        width: 24px;
        height: 20px;
        text-align: center;
    }


    .aligntextinfo {
        display: flex;
        align-items: center;
        gap: 15px;
    }



    .nomfiltre {
        color: black;

    }





    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        padding: 30px;
        box-sizing: border-box;

    }

    .imgsize {
        width: 30%;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 65%;
    }

    .conteneurhebergements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hebergements-cards .card {
        display: flex;
        flex-direction: column;
        margin-top: 33px;
        width: 30%;

    }

    .hebergements-cards img {
        width: 100%;
        height: 136px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .hebergements-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        gap: 10px;


    }

    .hebergements-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
        white-space: nowrap;
    }

    .hebergements-cards .card-subtitle {
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }



    /****** Populaires ***********/


    .populaires {
        width: 32%;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }

    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .populaires-cards .card-subtitle {
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }



    .activites {
        margin-top: 33px;
        margin-bottom: 33px;
    }

    .activites .card {
        width: 23%;
        padding: 0px;
        border-radius: 20px;
        box-shadow: 0px 3px 15px 0px #0000001A;
        padding-bottom: 10px;
    }

    .activites-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 33px;

    }

    .activites-cards img {
        width: 100%;
        height: 90%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
        margin-left: 15px;
    }

    .afficherplus {
        margin-top: 22px;
        font-weight: bold;
        font-size: 17px;
    }

    .afficherplusqueries {
        display: none;
    }




    /* CSS Footer */

    .footer {
        display: flex;
        flex-direction: row;
        gap: 200px;
        background-color: var(--main-bg-color);
        padding: 30px;
        box-sizing: border-box;
        margin-top: 65px;
    }

    @media (min-width: 768px) {

        .hebergements-and-populaires section {
            border-radius: 30px;
        }
    }

    /* Le code ci-dessous correspond à la version responsive uniquement */

    /****** Media queries ***********/
    /* Medium devices (tablets, less/equal than 1024px) */


    @media (max-width: 1024px) {


        .hebergements-and-populaires {
            flex-direction: column;
        }

        .hebergements {
            width: 100%;
        }

        .populaires {
            width: 100%;
            margin-top: 50px;
        }

        .populaires-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

        }


        .populaires-cards .card {
            width: 30%;

        }

        .populaires-cards .card-title {
            font-size: 14px;
        }

        .populaires-cards .card-subtitle {
            font-size: 13px;
        }

        .activites .card {
            padding-bottom: 50px;
            height: 230px;
        }

        .activites-cards .card-title {
            margin-top: 20px;
            font-size: 15px;
        }

        .footer {
            display: flex;
            flex-direction: row;
            gap: 50px;
            background-color: var(--main-bg-color);
            padding: 30px;
            box-sizing: border-box;
            margin-top: 65px;
        }

        .footertitle {
            font-size: 21px;
        }


    }

    /* Small devices (phones, less than 768px) */
    @media (max-width: 767.98px) {



        .main-container {
            padding: 0px;
        }

        .hebergements-and-populaires .hebergements {
            background-color: white;

        }

        .hebergements-cards .card {
            box-shadow: 0px 3px 15px 0px #0000001A;
            width: 100%;

        }


        .marge-queriesheader {
            padding: 20px;
        }

        .conteneurhebergements {
            display: flex;
            flex-direction: column;

        }

        .activites-cards .card {
            width: 90%;
            padding-bottom: 30px;
            margin-left: 20px;
        }

        .activites .section-title {
            margin-left: 31px;

        }

        .activites-cards img {
            height: 200px;
        }

        .afficherplus {
            display: none;
        }

        .afficherplusqueries {
            display: block;
            margin-top: 22px;
            font-weight: bold;
            font-size: 20px;

        }



        .menu {
            margin: auto;
            gap: 140px;

        }


        .footer {
            display: flex;
            flex-direction: column;





        }

        .imagelogo {
            display: flex;
            margin: auto;
            margin-top: 10px;
            padding: 10px;
            width: 22%;

        }




        .element1 {
            flex: 1;
            text-align: center;
            padding-bottom: 20px;

        }

        .element1:active {

            border-bottom: 2px solid #0065fc;
            padding-left: 60px;
            padding-right: 60px;





        }

        .fa-magnifying-glass {
            display: block;
            color: white;

        }


        .menuprincipal {

            flex-direction: column;
        }


        .boutonrechercher {
            display: none;
        }



        .formulaire {
            padding-left: 50px;
            padding-right: 50px;
            border-right: none;
        }

        input::placeholder {
            font-size: 20px;
            text-align: justify;
        }

        .logoqueries {
            display: block;
            border-radius: 15px 15px 15px 10px;
            border: 1px solid #0065FC;
            background-color: #0065FC;
            height: 46px;
            width: 50px;

            box-shadow: 0px 4px 8px grey;



        }


        #filtres {
            display: flex;
            flex-wrap: wrap;
            margin-top: -35px;


        }


        #filtres p {
            width: 100%;
        }

        .filtre {
            width: 36%;

        }


        .filtre:active {
            background-color: #DEEBFF;
        }




        .populaires-cards {
            display: flex;
            flex-direction: column;

        }

        .populaires-cards .card {
            width: 100%;
        }

        .populaires {
            margin-top: 20px;
        }

        .aligntextinfo {

            margin-top: 170px;
        }

        .one {
            order: 1;
        }

        .five {
            order: 2;
        }

        .three {
            order: 3;
        }

        .four {
            order: 4;

        }

        .two {
            order: 6
        }

        .six {
            order: 5;

        }

        .footertitle {
            font-size: 21px;
        }

        .hebergements-and-populaires {
            display: flex;
            flex-direction: column-reverse
        }

        .activites-cards {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-left: 12px;
        }


        .activites-cards img {}

    }